
@import './partials/variables';
*{
    box-sizing: border-box;
    font-family: 'Clarika Geometric', sans-serif;
    margin: 0;
}

body{
  background: #FBFAF8;
  font-size: 18px;
  overflow-x: hidden;
  padding-bottom: 50vh;
  @media(max-width: 680px){
    padding-bottom: 100vh;
  }
}

@import './partials/loader';
@import './partials/nav';
@import './partials/hero';

