.hero {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    padding: 0 5%;

    .hero-content {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin-top: 120px;

        .title {
            margin-bottom: 60px;
            h1 {
                font-weight: 500;
                font-size: 4em;
                display: flex;
                align-items: center;
                line-height: 95px;
                position: relative;
                .user-round {
                    width: 65px;
                    height: auto;
                    margin-left: 40px;
                }

                .horizontal-line {
                    height: 3px;
                    width: 90px;
                    background-color: $orange;
                    margin-right: 20px;
                    margin-top: 20px;
                    transform-origin: right;
                    animation: lineAnim 0.8s infinite alternate;
                }
                @keyframes lineAnim {
                    0% {
                        transform: scaleX(0.2);
                    }
                    50% {
                        // transform: scaleX(1);
                    }
                    to {
                        transform: scaleX(1);
                    }
                }
                .orange-star {
                    margin-left: 30px;
                }
            }
        }

        .subtitle {
            color: #8b898a;
            font-weight: 500;
            max-width: 500px;
            margin-bottom: 60px;
        }
        .btn-container {
            display: flex;
            margin-bottom: 45px;
            a{
                overflow: hidden;
                position: relative;
                padding: 16px 30px;
                border-radius: 30px;
                font-weight: 800;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                &.btn-filled {
                    background-color: $orange;
                    color: #fff;
                    margin-right: 35px;
                    span.circle{
                        background: #00000025;
                    }
                }
    
                &.btn-outline {
                    color: $orange;
                    border: 1px solid $orange;
                    span.circle{
                        background: #e2770425;
                    }
                    i {
                        // font-size: .7em;
                        margin-left: 10px;
                        margin-top: 4px;
                    }
                }
                span.text{
                    z-index: 2;
                    i{
                        transition: all .15s;
                    }
                }
                span.circle{
                    display: block;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    bottom: -30px;
                    left: 50%;
                    transform: translateX(-50%);
                    border-radius: 50%;
                    z-index: 1;
                    transition: all .25s ease-out;
                }
                &:hover{
                    span.circle{
                        transform: scale(10);
                        @media screen and (max-width: 680px) {
                            transform: scale(15);
                        }
                    }
                    .text {
                        i{
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }

        .rating {
            display: flex;
            align-items: center;
            max-width: 430px;
            .star-container {
                background-color: $darkGrey;
                height: 70px;
                min-width: 70px;
                border-radius: 5px;
                margin-right: 20px;
                overflow: hidden;
                .star{
                    height: 70px;
                    min-width: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .5s;
                    animation: pulse 1.4s infinite alternate;
                }
                @keyframes pulse {
                    from{
                        opacity: .4;
                    }
                }
            }
            p {
                font-weight: 600;
            }
            &:hover{
                .star{
                    transform: translateY(-70px) rotate(-215deg);
                }
            }
        }
    }
    .right {
        width: 100%;
        position: relative;

        .orange-background {
            height: 320px;
            width: 200px;
            background-color: $orange;
            position: absolute;
            color: #fff;

            font-weight: 600;

            padding: 30px 20px;

            top: 0;
            right: 0;

            z-index: 80;

            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            img {
                margin-bottom: 20px;
                width: 34px;
                height: auto;
            }
        }
        .dark-background {
            height: 80vh;
            min-height: 750px;

            width: 550px;
            background-color: $darkGrey;
            position: absolute;

            top: 0;
            right: 100px;
            .rectangle{
                transition: .1s linear;
                // animation: floating 2s infinite alternate;
            }
            @keyframes floating {
                to{
                    transform: rotate(200deg) translate(30px, 30px);
                }
            }
            .rectangle1 {
                position: absolute;
                left: 40px;
                bottom: 160px;
                img{
                    transform: scale(1.5) rotate(-20deg);
                }
            }
            .rectangle2 {
                position: absolute;
                left: 100px;
                bottom: 400px;
            }
            .rectangle3 {
                position: absolute;
                right: 40px;
                bottom: 340px;
                img{
                    transform: rotate(90deg);
                }
            }

            .girl {
                position: absolute;
                bottom: -4px;
                right: 0;
                overflow: hidden;
            }

            .mentor-background {
                width: 320px;
                height: 170px;
                border-radius: 15px;
                background-color: #fff;
                position: absolute;
                bottom: -90px;
                left: -80px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 10px 0px;

                p {
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                ul {
                    margin-top: 10px;
                    list-style-type: none;
                    display: flex;
                    padding: 0;

                    & > li:not(first-child) {
                        margin-left: -15px;
                    }

                    li img {
                        width: 50px;
                        height: auto;
                    }

                    li{
                        cursor: pointer;
                        transition: 0.2s;
                    }
                    li:not(:last-child):hover{
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1350px) {
        .left {
            width: 60vw;
            .title {
                h1 {
                    font-size: 2.5em;
                    line-height: 1.4em;
                }
            }
            .rating {
                max-width: 370px;
            }
        }
    }

    @media (max-width: 1250px) {
        .hero-content {
            flex-direction: column;
        }

        .left {
            justify-content: center;
            width: 100%;
            margin-bottom: 260px;
            padding-left: 12%;
            .title {
                h1 {
                    font-size: 4em;
                }

                .user-round {
                    display: none;
                }
            }
        }

        .right {
            .orange-background {
                right: 0;
                top: -160px;
            }

            display: flex;

            .dark-background {
                right: 0;
                width: 100%;
                height: auto;
                min-height: 450px;
                .mentor-background {
                    bottom: -80px;
                    left: 100px;
                }
            }
        }
    }
    @media (max-width: 680px) {
        padding: 0;

        .left {
            padding: 0 5%;
            .title {
                margin-top: 10vh;
                h1 {
                    font-size: 2.2em;
                    font-size: 12vw;
                    .horizontal-line {
                        width: 28px;
                    }
                    .orange-star {
                        margin-bottom: -30px;
                    }
                }
            }
            .subtitle {
                margin-top: 10vh;
            }
            .btn-container {
                flex-direction: column;
                width: 100%;

                .btn-filled {
                    width: 100%;
                    margin-bottom: 20px;
                }

                .btn-outline {
                    width: 100%;
                }
            }
        }

        .right {
            .orange-background {
                right: 20px;
                height: 250px;
            }
            .dark-background {
                width: 100%;
                height: auto;
                min-height: 450px;
                .rectangle {
                    display: none;
                }
                .girl {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                .mentor-background {
                    position: absolute;
                    bottom: -120px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 90%;
                }
            }
        }
    }
}
