.header {
    padding: 20px 5%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: 100;
}

.flex {
    display: flex;
    align-items: center;
}

.header-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
    overflow: hidden;

    .close-icon {
        display: none;
    }
    nav{
        transition: left .5s cubic-bezier(0.85, 0, 0.15, 1);
        ul {
            display: flex;
            list-style-type: none;
            color: #fff;
            margin-right: 90px;
            li {
                margin: 0 25px;
                font-weight: 600;

                a {
                    text-decoration: none;
                    color: white;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    position: relative;

                    &::after{
                        content: "";
                        position: absolute;
                        background-color: $orange;
                        height: 4px;
                        width: 0;
                        bottom: -5px;
                        transition: 0.3s;
                    }
                    &:not(.signup):hover::after{
                        width: 60%;
                    }

                    &:not(.signup):hover{
                        color: $orange;
                    }
                    
                    i {
                        font-size: 0.8em;
                        margin-top: 5px;
                    }
                }

                .active{
                    color: $orange;
                    font-weight: 700;
                    position: relative;

                    &::after{
                        content: "";
                        background-color: $orange;
                        position: absolute;
                        bottom: -5px;
                        width: 60%;
                        height: 4px;
                    }
                }


                & span {
                    margin-left: 5px;
                }
                &.logo {
                    display: none;
                }
            }


            
        }
    }

    .toggle-icon {
        display: none;
    }

    

    @media (max-width: 1250px) {
        nav {
            background-color: $orange;
            width: 100vw;
            height: 100vh;
            position: absolute;
            left: 110%;
            top: 0;
            .close-icon {
                display: block;
                position: absolute;
                right: 30px;
                top: 30px;
                cursor: pointer;
            }
            ul {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                color: $darkGrey;
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
                font-size: 2em;
                position: relative;
                li {
                    a {
                        color: white;
                        i {
                            font-size: 0.6em;
                            margin-top: 10px;
                        }
                    }
                    &:last-child {
                        display: block;
                        position: absolute;
                        bottom: 30px;
                    }
                }
            }
        }
        .toggle-icon {
            display: inline;
            cursor: pointer;
        }
    }

    @media (max-width: 576px) {
        .logo {
            img {
                height: 40px;
                width: auto;
            }
        }
    }
}
